<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>alomundo</servlet-name>
        <servlet-class>newpackage.alomundo</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>mostraheader</servlet-name>
        <servlet-class>newpackage.mostraheader</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>somatorio</servlet-name>
        <servlet-class>newpackage.somatorio</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>guardalembrete</servlet-name>
        <servlet-class>newpackage.guardalembrete</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>alomundo</servlet-name>
        <url-pattern>/alomundo</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>mostraheader</servlet-name>
        <url-pattern>/mostraheader</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>somatorio</servlet-name>
        <url-pattern>/somatorio</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>guardalembrete</servlet-name>
        <url-pattern>/guardalembrete</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
